@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@keyframes rotate {
  100% {
    transform: rotate(360deg); } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth !important; }

body {
  font-size: 20px;
  background: #020202;
  background-size: cover;
  color: #d1d1d1;
  font-family: 'Roboto', sans-serif; }
  body::selection {
    background-color: #888; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color: #fff; }

.container {
  max-width: 1150px;
  margin: auto; }

.row {
  display: flex;
  flex-wrap: wrap; }

.underline {
  height: 2px;
  background: #fff;
  border: none;
  outline: none;
  margin-bottom: 30px; }

.title {
  font-size: 2.4rem; }

.myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none !important;
  background-color: #950101;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px; }
  .myBtn:hover {
    background-color: #555;
    outline: none !important; }

.title-container {
  transition: .4 ease-in-out;
  margin: 0 auto;
  text-align: center; }
  .title-container hr {
    width: 175px;
    margin: auto; }
  .title-container p {
    margin-top: 20px;
    margin-bottom: 40px; }

a.link {
  color: #fff;
  transition: .4s ease;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase; }
  a.link:hover {
    color: #fff; }
  a.link:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transition: all 0.3s ease-in-out; }
  a.link:hover:before {
    visibility: visible;
    width: 100%; }

a {
  color: #fff; }
  a i.fab {
    text-decoration: none;
    color: #fff; }
    a i.fab:hover {
      color: #fff;
      text-decoration: none;
      transition-duration: .5s;
      animation: rotate .5s linear; }
  a:hover {
    color: #fff; }

.button {
  pointer-events: auto;
  cursor: pointer;
  background: #fff;
  border: none !important;
  padding: 1.5rem 3rem;
  margin: 0;
  font-size: inherit;
  position: relative;
  display: inline-block;
  outline: none !important; }

.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.button--bestia {
  font-size: 1.15rem;
  color: #fff;
  background: none;
  padding: 0;
  border: none !important; }
  .button--bestia .button__bg {
    border: none !important;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 0.85rem;
    overflow: hidden;
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1); }
  .button--bestia:hover .button__bg {
    transform: scale3d(1.2, 1.2, 1); }
  .button--bestia .button__bg::before,
  .button--bestia .button__bg::after {
    content: '';
    position: absolute;
    background: #020202; }
  .button--bestia .button__bg::before {
    width: 110%;
    height: 0;
    padding-bottom: 110%;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 1); }
  .button--bestia:hover .button__bg::before {
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
    transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1); }
  .button--bestia .button__bg::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s; }
  .button--bestia:hover .button__bg::after {
    opacity: 1;
    transition-duration: 0.01s;
    transition-delay: 0.3s; }
  .button--bestia span {
    display: block;
    position: relative;
    padding: 1.5rem 3rem;
    mix-blend-mode: difference; }

.button--bestia-2 {
  font-size: 1.15rem;
  color: #fff;
  background: none;
  padding: 0;
  border: none !important; }
  .button--bestia-2 .button__bg {
    border: none !important;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #020202;
    border-radius: 0.85rem;
    overflow: hidden;
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1); }
  .button--bestia-2:hover .button__bg {
    transform: scale3d(1.2, 1.2, 1); }
  .button--bestia-2 .button__bg::before,
  .button--bestia-2 .button__bg::after {
    content: '';
    position: absolute;
    background: #fff; }
  .button--bestia-2 .button__bg::before {
    width: 110%;
    height: 0;
    padding-bottom: 110%;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 1); }
  .button--bestia-2:hover .button__bg::before {
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
    transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1); }
  .button--bestia-2 .button__bg::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s; }
  .button--bestia-2:hover .button__bg::after {
    opacity: 1;
    transition-duration: 0.01s;
    transition-delay: 0.3s; }
  .button--bestia-2 span {
    display: block;
    position: relative;
    padding: 1.5rem 3rem;
    mix-blend-mode: difference; }

.section-hidden {
  opacity: 0;
  transform: translateY(8rem); }

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #fff; }

::-webkit-scrollbar-thumb {
  background: #888; }

::selection {
  background: rgba(0, 123, 255, 0.3); }

.content {
  max-width: 1250px;
  margin: auto;
  padding: 0 30px; }

nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 20px 0;
  transition: all 0.3s ease;
  box-shadow: none;
  background: transparent; }

nav.sticky {
  padding: 10px 0;
  background: #020202;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1); }

nav .content {
  display: flex;
  align-items: center;
  justify-content: space-between; }

nav .logo a {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
  text-decoration: none; }

nav .menu-list {
  display: inline-flex; }

.menu-list li {
  list-style: none;
  padding-top: 10px; }

.menu-list li a {
  color: #fff;
  font-size: 19px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease; }

.icon {
  color: #fff;
  font-size: 35px;
  cursor: pointer;
  display: none; }

.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px; }

@media (max-width: 1230px) {
  .content {
    padding: 0 60px; } }
@media (max-width: 1100px) {
  .content {
    padding: 0 40px; } }
@media (max-width: 900px) {
  .content {
    padding: 0 30px; } }
@media (max-width: 868px) {
  body.disabled {
    overflow: hidden; }

  .icon {
    display: block; }

  .icon.hide {
    display: none; }

  nav .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #020202;
    transition: all 0.3s ease; }

  nav.show .menu-list {
    left: 0%; }

  nav .menu-list li {
    margin-top: 25px; }

  nav .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

  nav.show .menu-list li a {
    margin-left: 0px; } }
@media (max-width: 380px) {
  nav .logo a {
    font-size: 27px; } }
header {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../img/header.jpg);
  background-size: cover;
  background-position: center; }
  header .container {
    transition: .4 ease-in-out;
    padding-top: 30vh; }
    header .container .row article {
      width: 70%; }
      header .container .row article h1 {
        padding-top: 45px;
        font-size: 3.7rem;
        padding-bottom: 25px; }
      header .container .row article p {
        margin-bottom: 55px;
        line-height: 1.5; }
      header .container .row article a {
        background: linear-gradient(141deg, #0f4c75 15%, #3282b8 70%, #bbe1fa 100%); }

footer {
  transition: .4 ease-in-out;
  padding: 40px 0;
  background-color: #111111;
  text-align: center;
  font-size: 23px; }

section#about {
  transition: .4 ease-in-out;
  margin: 50px auto;
  /* background-color: #111111; */
  border-radius: 20px;
  padding: 20px; }
  section#about article {
    width: 50%; }
    section#about article .title {
      margin-top: 20px; }
    section#about article hr {
      width: 175px; }
    section#about article h3 {
      margin: 40px 0 20px 0; }
    section#about article p {
      line-height: 1.5;
      background-color: #090909;
      padding: 20px 20px 20px 10px;
      border-radius: 10px;
      border-left: 10px solid #8fc460; }
    section#about article img {
      width: 100%;
      height: 100%;
      border-radius: 20px; }
    section#about article:nth-child(1) {
      padding-right: 20px; }

section#mint {
  transition: .4 ease-in-out;
  margin: 50px auto;
  padding: 50px 0;
  text-align: center;
  /* background-color: #111111; */
  border-radius: 20px; }
  section#mint .underline {
    width: 175px;
    margin: 0 auto 30px auto; }
  section#mint p {
    background-color: #090909;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px 20px 20px 10px;
    border-left: 10px solid #8fc460;
    border-radius: 10px; }
  section#mint .button-container {
    border: 2px solid #fff;
    padding: 15px;
    max-width: 160px;
    margin: auto; }

#roadmap {
  padding: 50px 0; }
  #roadmap .row {
    transition: .4 ease-in-out;
    /* background-color: #111111; */
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 20px; }
    #roadmap .row .img {
      width: 50%; }
      #roadmap .row .img img {
        width: 100%;
        height: 100%;
        border-radius: 20px; }
    #roadmap .row .roadmap-content {
      width: 50%;
      text-align: left;
      padding-right: 0;
      padding-left: 20px; }
      #roadmap .row .roadmap-content h2 {
        font-size: 2.2rem;
        margin-top: 60px; }
        #roadmap .row .roadmap-content h2.m-5 {
          margin-top: 30px !important; }
      #roadmap .row .roadmap-content .underline {
        width: 175px; }
      #roadmap .row .roadmap-content p {
        margin-top: 20px;
        background-color: #090909;
        padding: 20px 20px 20px 10px;
        border-left: 10px solid #8fc460;
        border-radius: 10px; }
      #roadmap .row .roadmap-content h3 {
        margin-top: 30px; }
      #roadmap .row .roadmap-content:nth-child(1), #roadmap .row .roadmap-content:nth-child(3) {
        padding-right: 20px;
        padding-left: 0; }
        #roadmap .row .roadmap-content:nth-child(1) p, #roadmap .row .roadmap-content:nth-child(3) p {
          padding: 20px 10px 20px 20px;
          border-left: none;
          border-right: 10px solid #8fc460; }

.slider {
  transition: .4 ease-in-out;
  padding: 50px 0;
  /* background-color: #111111; */
  border-radius: 20px; }
  .slider .title-container p {
    background-color: #090909;
    border-radius: 10px;
    padding: 20px 20px 20px 10px;
    border-left: 10px solid #8fc460;
    max-width: 850px;
    margin: 40px auto 30px auto; }

.carousel {
  margin: 0 auto;
  overflow: hidden;
  max-width: 750px;
  max-height: 470px;
  position: relative;
  border-radius: 10px; }

.carousel .carousel__item,
.carousel .carousel__item--hidden {
  display: none; }

.carousel .carousel__item img {
  width: 100%;
  max-width: 900px;
  height: 470px; }

.carousel .carousel__item--visible {
  display: block;
  animation: fadeVisibility .3s; }

.carousel .carousel__actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.carousel .carousel__actions button {
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #fff; }

.carousel .carousel__actions button#carousel__button--prev {
  margin-left: 20px; }

.carousel .carousel__actions button#carousel__button--next {
  margin-right: 20px; }

@keyframes fadeVisibility {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.25; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 1;
    transform: opacity linear; } }
section#team {
  padding-bottom: 100px; }
  section#team .row {
    transition: .4 ease-in-out;
    margin-top: 80px;
    justify-content: space-between; }
    section#team .row article {
      width: 30%;
      text-align: center;
      margin: auto;
      /* background-color: #111111; */
      border-radius: 20px; }
      section#team .row article h2 {
        margin: 20px 0; }
      section#team .row article p {
        background-color: #090909;
        padding: 20px 20px 20px 0;
        border-left: 10px solid #8fc460;
        margin: 15px;
        border-radius: 10px; }
      section#team .row article img {
        width: 100%;
        border-radius: 20px;
        margin: 0 auto; }

section#faq {
  margin-bottom: 100px; }
  section#faq .container article {
    transition: .4 ease-in-out;
    margin: 50px 0;
    padding: 20px 15px 15px 15px;
    background-color: #111111;
    border-radius: 20px;
    min-height: 10px; }
    section#faq .container article h2 {
      font-size: 30px;
      float: left;
      padding-top: 5px; }
    section#faq .container article span i {
      float: right;
      font-size: 30px;
      margin-top: 10px;
      cursor: pointer;
      transition: .4s ease-in-out; }
      section#faq .container article span i.active {
        transform: rotate(90deg); }
    section#faq .container article p.answer {
      clear: both;
      transition: .5s ease-in-out;
      max-height: 0;
      overflow: hidden;
      position: relative;
      background-color: #090909;
      font-size: 20px; }
      section#faq .container article p.answer.visible {
        max-height: 300px;
        padding: 0 10px 10px 15px;
        border-radius: 10px; }
      section#faq .container article p.answer::before {
        content: "";
        position: absolute;
        width: .6rem;
        height: 100%;
        background-color: #8fc460;
        top: 50%;
        left: 0;
        margin-right: 100px;
        transform: translateY(-50%); }

/*# sourceMappingURL=site.css.map */
