$dirty-white: #d1d1d1;
$white: #fff;
$black: #020202;
$pink-light: #ffdef3;
$dark-gray: #111111;
$light-black: #090909;
// $purple-light: #652ec7;
// $purple-dark: #33135c;

// blue
$blue: #3282B8;
$light-blue: #BBE1FA;
$dark-blue: #0F4C75;

// red
$red: #950101;
$light-red: #FF0000;
$dark-red: #3D0000;

// green
$green: #8fc460;

// aqua
$aqua: #265A5C;
$light-aqua: #3F7B70;
$dark-aqua: #113C4A;