$white: #fff;
$black: #000;
$pink-light: #ffdef3;
// $purple-light: #652ec7;
// $purple-dark: #33135c;

// blue
$blue: #3282B8;
$light-blue: #BBE1FA;
$dark-blue: #0F4C75;

// red
$red: #950101;
$light-red: #FF0000;
$dark-red: #3D0000;

// green
$dark-green: #125C13;
$light-green: #3E7C17;

// aqua
$aqua: #265A5C;
$light-aqua: #3F7B70;
$dark-aqua: #113C4A;