/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: $white;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgba(0,123,255,0.3);
}
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
nav{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 20px 0;
  transition: all 0.3s ease;
  box-shadow: none;
  background: transparent;
}
nav.sticky{
  padding: 10px 0;
  background: $black;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
nav .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo a{
  color: $white;
  font-size: 2.5rem;
  font-weight: 600;
  text-decoration: none;
}
nav .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
  padding-top: 10px;
}
.menu-list li a{
  color: $white;
  font-size: 19px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.icon{
  color: $white;
  font-size: 35px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  nav .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: $black;
    transition: all 0.3s ease;
  }
  nav.show .menu-list{
    left: 0%;
  }
  nav .menu-list li{
    margin-top: 25px;
  }
  nav .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  nav.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  nav .logo a{
    font-size: 27px;
  }
}