section#about {
    transition: .4 ease-in-out;
    margin: 50px auto;
    background-color: $dark-gray;
    border-radius: 20px;
    padding: 20px;


    article {
        width: 50%;

        .title {
            margin-top: 20px;
        }

        hr {
            width: 175px;
        }

        h3 {
            margin: 40px 0 20px 0;
        }

        p {
            line-height: 1.5;
            background-color: $light-black;
            padding: 20px 20px 20px 10px;
            border-radius: 10px;
            border-left: 10px solid $green;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }

        &:nth-child(1) {
            padding-right: 20px;
        }
    }
}