section#about {
    padding: 50px 0;

    article {
        width: 48%;

        hr {
            width: 175px;
        }

        h3 {
            margin: 40px 0 20px 0;
        }

        p {
            line-height: 1.5;
        }

        img {
            width: 100%;
        }
    }
}