section#faq {
    margin-bottom: 100px;

    .container {

        article {
            margin: 50px 0;
            border-left: 1px solid $white;

            h2 {
                font-size: 30px;
                margin-bottom: 20px;
                padding-left: 20px;
            }

            p {
                padding-left: 20px;
            }

            hr {
                width: 70%;
                margin-top: 20px;
            }
        }
    }
}