section#mint {
    transition: .4 ease-in-out;
    margin: 50px auto;
    padding: 50px 0;
    text-align: center;
    background-color: $dark-gray;
    border-radius: 20px;

    .underline {
        width: 175px;
        margin: 0 auto 30px auto;
    }

    p {
        background-color: $light-black;
        margin-bottom: 30px;
        margin-left: 30px;
        margin-right: 30px;
        padding: 20px 20px 20px 10px;
        border-left: 10px solid $green;
        border-radius: 10px;
    }

    .button-container {
        border: 2px solid $white; 
        padding: 15px;
        max-width: 160px;
        margin: auto;
    }
}