#roadmap {
    padding: 50px 0;

    .row {
        transition: .4 ease-in-out;
        background-color: $dark-gray;
        border-radius: 20px;
        margin-bottom: 30px;
        padding: 20px;

        .img {
            width: 50%;

            img {
                width: 100%;
                height: 100%;
                border-radius: 20px;
            }
        }

        .roadmap-content {
            width: 50%;
            text-align: left;
            padding-right: 0;
            padding-left: 20px;

            h2 {
                font-size: 2.2rem;
                margin-top: 60px;

                &.m-5 {
                    margin-top: 30px !important;
                }
            }

            .underline {
                width: 175px;
            }

            p {
                margin-top: 20px;
                background-color: $light-black;
                padding: 20px 20px 20px 10px;
                border-left: 10px solid $green;
                border-radius: 10px;
            }

            h3 {
                margin-top: 30px;
            }

            &:nth-child(1), &:nth-child(3) {
                padding-right: 20px;
                padding-left: 0;

                p {
                    padding: 20px 10px 20px 20px;
                    border-left: none;
                    border-right: 10px solid $green;
                }
            }
        }
    }
}