section#team {
    padding-bottom: 100px;
    
    .row {
        margin-top: 80px;
        justify-content: space-between;

        article {
            width: 30%;
            text-align: center;
            margin: auto;

            h2 {
                margin: 20px 0;
            }

            img {
                width: 100%;
                border-radius: 20px;
                margin: 0 auto;
            }
        }
    }
}