section#team {
    padding-bottom: 100px;
    
    .row {
        transition: .4 ease-in-out;
        margin-top: 80px;
        justify-content: space-between;

        article {
            width: 30%;
            text-align: center;
            margin: auto;
            background-color: $dark-gray;
            border-radius: 20px;

            h2 {
                margin: 20px 0;
            }

            p {
                background-color: $light-black;
                padding: 20px 20px 20px 0;
                border-left: 10px solid $green;
                margin: 15px;
                border-radius: 10px;
            }

            img {
                width: 100%;
                border-radius: 20px;
                margin: 0 auto;
            }
        }
    }
}